<!--<script th:src="@{/static/js/app.js}"></script>-->
<script>

    $("#admin-info").submit(function (){
        // console.log(1)
        // console.log($("#admin-info").serialize())
        // console.log(2)
        // var userBO = {
        //     nickname: $("#user-name2").val(),
        //     phone: $("#user-phone").val(),
        //     gender: $.find("input[@name='radio10'][checked]"),
        //     city: $("#city").val()
        // };
        $.post("[[@{/admin/update}]]",$("#admin-info").serialize(),function (data) {
            if (data.status === "SUCCESS") {
                toastr.success("修改成功！");
                var user_data = JSON.stringify(data.body);
                localStorage.removeItem("user");
                localStorage.setItem("user", user_data);
            }
            else {
                toastr.error("修改错误！");
            }
        })
        return false;
    })
</script>
<section class="content">
<div class="col-md-6" style="margin: 0 auto">
    <!-- general form elements disabled -->
    <br/>
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title" style="text-align: center">Personal&nbsp;information</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <div class="row">
<div>
    <!--标题 -->
<!--    <div class="am-cf am-padding">-->
<!--        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人资料</strong> / <small>Personal&nbsp;information</small></div>-->
<!--    </div>-->
<!--    <hr/>-->

    <!--头像 -->
    <div class="user-infoPic">



        <p class="am-form-help">头像</p>
        <div class="filePic">
            <input type="file" class="inputPic" allowexts="gif,jpeg,jpg,png,bmp" accept="image/*">
            <img class="am-circle am-img-thumbnail" src="//cg-mall-hk.oss-cn-hongkong.aliyuncs.com/upload/2021/11/30/getAvatar.jpg" alt="" />
        </div>
        <div class="info-m">
            <div style="margin-top: 20px;"><b>用户名：<i th:text="${member.username}">小叮当</i></b></div>
            <div style="margin-top: 20px;"><b>电子邮件：<i th:text="${member.email}">小叮当</i></b></div>

        </div>
    </div>


    <!--个人信息 -->
    <div class="info-main">
        <form class="am-form am-form-horizontal" id="admin-info">

            <div class="am-form-group">
                <label for="user-name2" class="am-form-label" >昵称</label>
                <div class="am-form-content">
                    <input type="text" id="user-name2" name="nickname" th:value="${member.nickname}">

                </div>
            </div>

            <div class="am-form-group">
                <label for="city" class="am-form-label">城市</label>
                <div class="am-form-content">
                    <input type="text" id="city" name="city" th:value="${member.city}">
                </div>
            </div>

            <div class="am-form-group">
                <label class="am-form-label">性别</label>
                <div class="am-form-content sex" id="sex">
                    <label class="am-radio-inline">
                        <input type="radio" name="gender" value="0" data-am-ucheck th:checked="${member.gender} eq 0" > 男
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" name="gender" value="1" data-am-ucheck th:checked="${member.gender} eq 1"> 女
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" name="gender" value="2" data-am-ucheck th:checked="${member.gender} eq 2"> 保密
                    </label>
                </div>
            </div>

            <div class="am-form-group">
                <label for="user-phone" class="am-form-label">电话</label>
                <div class="am-form-content">
                    <input id="user-phone" name="phone" th:value="${member.phone}" type="tel">

                </div>
            </div>

<!--            <button type="submit" >保存修改</button>-->
            <div class="info-btn" >
                <button class="am-btn am-btn-danger" type="submit">保存修改</button>
            </div>

        </form>
    </div>

</div>
    </div>
</div>
    </div>
</div>
</section>