<!DOCTYPE HTML>
<html th:lang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/include/header::head"/>
<body>
<div class="wrapper">

    <!-- header部分-->
    <th:block th:include="/include/header::header"/>

    <!--    主体部分-->
    <main>
        <!--            详情控件部分-->
        <div class="breadcrumb">
            <div class="container">
                <ul class="breadcrumb-list">
                    <li><a href="javascript:"><span th:text="#{co_home}">Home</span></a></li>
                    <li class="svg-element-product">
                        <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.1 4.05596L0 6.65996L0.7 7.28996L3.36 3.99996L0.7 0.709961L0 1.33996L2.1 4.05596Z"
                                  fill="#5B6C8F"></path>
                        </svg>
                    </li>
                    <li><span th:text="#{co_contact}">Contact Us</span></li>
                </ul>
            </div>
        </div>

        <!--        主体部分-->
        <div class="contact-wrapper">


            <div class="contact-wrapper-item">
                <div class="line">
                    <div class="container">
                        <div class="contact-wrapper-item-one ">
                            <div class="row">
                                <div class="col-lg-4 col-lg-12">
                                    <div class="contact-info">
                                        <div class="contact-info-title contact-info-same">
                                            <div class="contact-info-title-heading">
                                                <h1 th:text="#{co_how_to_help}">How can we <br>help you?</h1>
                                                <p th:text="#{co_disposal}">We are at your disposal 7 days a week!</p>
                                            </div>
                                        </div>
                                        <div class="contact-info-tel  contact-info-same">
                                            <ul>
                                                <li>
                                                    <a th:href="#{co_mailto}">
                                                        <i class="far fa-envelope"></i>
                                                    </a>
                                                    <strong><a th:href="#{co_mailto}" th:text="#{co_saleschinasunergycom}">sales@chinasunergy.com</a></strong>
                                                </li>
                                                <!--                                            <li>-->
                                                <!--                                                <div class="wrap-content-leftFacebook">-->
                                                <!--                                                    <a href="https://www.facebook.com/CSUN-Solar-103759638523279" style="font-size:32px;">-->
                                                <!--                                                        <i class="fab fa-facebook-square"></i>-->
                                                <!--                                                    </a>-->
                                                <!--                                                    <a href="https://twitter.com/CsunSolarTech" style="font-size:32px;">-->
                                                <!--                                                        <i class="fab fa-twitter-square"></i>-->
                                                <!--                                                    </a>-->
                                                <!--                                                    <a href="https://www.linkedin.com/company/73061453/admin/" style="font-size:32px;">-->
                                                <!--                                                        <i class="fab fa-linkedin"></i>-->
                                                <!--                                                    </a>-->
                                                <!--                                                </div>-->
                                                <!--                                            </li>-->

                                                <li>
                                                    <a href="tel:+025-52095705">
                                                        <i class="fas fa-phone-alt"></i>
                                                    </a>
                                                    <a th:href="#{co_mailto_tell}" th:text="#{co_phone}">+025-52095705</a>
                                                </li>
<!--                                                <li>-->
<!--                                                    <a class="wrap-content-leftLittitle" href="tel:+025-52095705" th:text="#{co_marketing}">Marketing:</a>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <a href="tel:+025-52095705">-->
<!--                                                        <i class="fas fa-phone-alt"></i>-->
<!--                                                    </a>-->
<!--                                                    <a href="tel:+025-52095705">+025-52095705</a>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <a href="mailto:marketing@chinasunergy.com"><i-->
<!--                                                            class="far fa-envelope"></i></a>-->
<!--                                                    <a href="mailto:marketing@chinasunergy.com">marketing@chinasunergy.com</a>-->
<!--                                                </li>-->

<!--                                                <li>-->
<!--                                                    <a class="wrap-content-leftLittitle" href="tel:+86-25-87138220" th:text="#{co_after_sales_service}"-->
<!--                                                    >After-Sales Service:</a>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <a href="tel:+86-25-87138220"><i class="fas fa-phone-alt"></i></a>-->
<!--                                                    <a href="tel:+86-25-87138220">+86-25-87138220</a>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <a href="mailto:customer_service@chinasunergy.com"><i-->
<!--                                                            class="far fa-envelope"></i></a>-->
<!--                                                    <a href="mailto:customer_service@chinasunergy.com"-->
<!--                                                    >customer_service@Chinasunergy.Com</a>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <a class="wrap-content-leftLittitle" href="tel:+86-25-52095678" th:text="#{co_administartionhr}"-->
<!--                                                    >Administration/HR:</a>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <a href="tel:+86-25-52095678"><i class="fas fa-phone-alt"></i></a>-->
<!--                                                    <a href="tel:+86-25-52095678">+86-25-52095678</a>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <a href="mailto:hr@chinasunergy.com"><i class="far fa-envelope"></i></a>-->
<!--                                                    <a href="mailto:hr@chinasunergy.com">hr@chinasunergy.com</a>-->
<!--                                                </li>-->
                                            </ul>

                                        </div>
                                        <div class="contact-info-icon  contact-info-same">
                                            <div class="footer-social-icons">
                                                <ul class="social-icons footer-social-list-icon">

                                                    <li>
                                                        <a th:href="#{co_facebook_link}" target="_blank"><img
                                                                height="34" width="34"
                                                                src="../static/pic/facebook%20(2).png" alt=""></a></li>
                                                    <li><a th:href="#{co_twitter_link}" target="_blank"><img height="34"
                                                                                                         width="34"
                                                                                                         src="../static/pic/twitter.png"
                                                                                                         alt=""></a>
                                                    </li>
                                                    <!--                                                <li><a href="javascript:"><img height="30" width="30" src="../static/pic/chat.png" alt=""></a></li>-->
                                                    <li><a th:href="#{co_linkedin_link}" target="_blank"><img
                                                            height="26" width="26" src="../static/pic/linkedin-in.png"
                                                            alt=""></a></li>


                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-lg-12">
                                    <div class="map-ui">
                                        <div class="map-container">
                                            <img src="../static/pic/change/map.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


<!--                        <div class="contact-wrapper-item-two">-->
<!--                            <div class="contact-form">-->
<!--                                <div class="contact-form-title">-->
<!--                                    <div class="form-title">Fill up the form if you have any question</div>-->
<!--                                </div>-->

<!--                                <div class="contact-form-body">-->
<!--                                    <form action="" id="contact_form">-->
<!--                                        <div class="contact-form-body-wrapper">-->
<!--                                            <div class="contact-form-email form-group">-->

<!--                                                <label for="comp3"><input class="comp" id="comp3" name="company"-->
<!--                                                                          placeholder="Company*"-->
<!--                                                                          required type="text"></label>-->

<!--                                                <label for="mail3"><input class="mail mail2" id="mail3" name="phone"-->
<!--                                                                          placeholder="Phone"-->
<!--                                                                          type="text"></label>-->

<!--                                            </div>-->

<!--                                            <div class="contact-form-email form-group">-->
<!--                                                <label for="comp2"><input class="comp" id="comp2" name="name"-->
<!--                                                                          placeholder="Name*"-->
<!--                                                                          required type="text"></label>-->
<!--                                                <label for="mail2"><input class="mail" id="mail2" name="email"-->
<!--                                                                          placeholder="Email*"-->
<!--                                                                          required type="text"></label>-->

<!--                                            </div>-->

<!--                                            <div class="contact-form-message form-group">-->
<!--                                                <label for="mess"><input class="mess" id="mess" placeholder="Message*"-->
<!--                                                                         name="message" required="required"></label>-->
<!--                                            </div>-->

<!--                                            <div class="contact-form-button">-->
<!--                                                &lt;!&ndash;                                            <button class="submit" id="contact_submit" type="submit">Submit</button>&ndash;&gt;&ndash;&gt;-->
<!--                                                <button type="submit" class="btn btn-1" id="contact_submit">Send-->
<!--                                                    message-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>


                <!--            产品展示部分-->
                <div class="mall-section-products">
<!--                    <div class="mall-section-products-content">-->
<!--                        <div class="container">-->
<!--&lt;!&ndash;                            <div class="mall-section-products-content-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="mall-section-products-head">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="mall-section-head-title" th:text="#{co_follow}">&ndash;&gt;-->
<!--&lt;!&ndash;                                        Follow @MYMEDI on instagram&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->


<!--&lt;!&ndash;                                <div class="mall-section-contactUs-body">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="contactUs-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="contactUs-wrapper-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="contactUs-wrapper-item-element">&ndash;&gt;-->

<!--&lt;!&ndash;                                                <div class="mall-section-second">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="mall-section-second-pd">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;                                                            <div class="mall-section-second-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <div class="mall-section-second-content-body">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    <div class="d-grid">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <div class="mall-section-second-content-body-left">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                            <img src="../static/pic/change/second-one.png"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                 alt="" sizes="605px">&ndash;&gt;-->

<!--&lt;!&ndash;                                                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        <div class="mall-section-second-content-body-right">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                            <img src="../static/pic/change/second-2.png"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                 alt="" sizes="605px">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->


<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                        </div>-->

<!--                    </div>-->
                </div>
            </div>
        </div>

    </main>


    <footer><th:block th:include="/include/footer::footer"/></footer>

    <div class="mobileLayBar d-lg-none">
        <div class="mobileLayBar-lg-none  visible-sm visible-md visible-xs">
            <div class="mobile-section-show-bar">
                <!--                <div class="container">-->
                <div class="mobile-section-wrapper">
                    <div class="mobile-bar-content mobile-bar">
                        <a href="javascript:" class="btn">
                            <span class="svg-element-ui">
                              <svg width="22" height="18" viewBox="0 0 22 18" fill="none"
                                   xmlns="http://www.w3.org/2000/svg">
                                  <path d="M21.0652 2.00879H0.61236C0.244944 2.00879 0 1.90353 0 1.74563V0.271947C0 0.114052 0.244944 0.00878906 0.61236 0.00878906H21.1876C21.5551 0.00878906 21.8 0.114052 21.8 0.271947V1.74563C21.6775 1.90353 21.4326 2.00879 21.0652 2.00879Z"
                                        fill="#ff9923"> </path>
                                  <path d="M21.0652 9.00879H0.61236C0.244944 9.00879 0 8.90353 0 8.74563V7.27195C0 7.11405 0.244944 7.00879 0.61236 7.00879H21.1876C21.5551 7.00879 21.8 7.11405 21.8 7.27195V8.74563C21.6775 8.85089 21.4326 9.00879 21.0652 9.00879Z"
                                        fill="#ff9923"></path>
                                  <path d="M21.0652 16.0088H0.61236C0.244944 16.0088 0 15.9035 0 15.7456V14.2719C0 14.1141 0.244944 14.0088 0.61236 14.0088H21.1876C21.5551 14.0088 21.8 14.1141 21.8 14.2719V15.7456C21.6775 15.9035 21.4326 16.0088 21.0652 16.0088Z"
                                        fill="#ff9923"></path>
                              </svg>
                            </span>
                        </a>
                    </div>
                    <div class="mobile-bar-home mobile-bar">
                        <a href="javascript:" class="btn">
                            <span class="svg-element-ui">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                   <path d="M20 10.4912V22.4912H4V10.4912" stroke="#ff9923" stroke-width="2"
                                         stroke-miterlimit="10"></path>
                                    <path d="M23 12.4912L12 3.49121L1 12.4912" stroke="#ff9923" stroke-width="2"
                                          stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="mobile-bar-my-account mobile-bar">
                        <a href="javascript:" class="btn">
                            <span class="svg-element-ui">
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                   <path d="M9.50002 10.2771C12.0618 10.2771 14.1386 8.20038 14.1386 5.63857C14.1386 3.07676 12.0618 1 9.50002 1C6.93821 1 4.86145 3.07676 4.86145 5.63857C4.86145 8.20038 6.93821 10.2771 9.50002 10.2771Z"
                                         stroke="#ff9923" stroke-width="1.91" stroke-miterlimit="10"></path>
                                   <path d="M1 18.7771L1.29952 17.1176C1.65336 15.201 2.6674 13.469 4.16549 12.2223C5.66357 10.9756 7.55104 10.2931 9.5 10.2933V10.2933C11.4513 10.2938 13.3406 10.9786 14.839 12.2285C16.3374 13.4784 17.35 15.2143 17.7005 17.1338L18 18.7933"
                                         stroke="#ff9923" stroke-width="1.91" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="mobile-bar-fav mobile-bar">
                        <a href="javascript:" class="btn">
                            <span class="svg-element-ui">
                                <svg width="24" height="21" viewBox="0 0 24 21" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                   <path d="M3.40997 11L3.07997 10.67C2.57635 10.1683 2.17647 9.57241 1.90316 8.91622C1.62985 8.26003 1.48846 7.55643 1.48707 6.8456C1.48426 5.41001 2.05185 4.0321 3.06497 3.01499C4.0781 1.99789 5.45378 1.4249 6.88937 1.42209C8.32496 1.41928 9.70287 1.98686 10.72 2.99999L12 4.29999L13.28 2.99999C13.7769 2.48058 14.3726 2.06562 15.0321 1.77946C15.6915 1.49329 16.4015 1.34168 17.1203 1.33351C17.8392 1.32534 18.5524 1.46078 19.2182 1.73188C19.884 2.00299 20.4889 2.4043 20.9976 2.91228C21.5062 3.42027 21.9083 4.0247 22.1803 4.69014C22.4523 5.35558 22.5887 6.06862 22.5814 6.78745C22.5742 7.50629 22.4235 8.21644 22.1382 8.87628C21.8529 9.53611 21.4387 10.1323 20.92 10.63L20.59 10.96L12 19.57L6.06997 13.64L3.40997 11Z"
                                         stroke="#ff9923" stroke-width="1.91" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                            <span class="number">
                                <span>0</span>
                            </span>
                        </a>
                    </div>
                    <div class="mobile-bar-cart mobile-bar relative">
                        <a href="javascript:" class="btn">
                            <span class="svg-element-ui">
                                 <img width="25" height="23" src="../static/pic/cart.png" alt="">
                            </span>
                            <span class="number">
                                <span>0</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>

</html>