<!DOCTYPE HTML>
<html th:lang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/include/header::head">
</th:block>

<body>
<div class="wrapper">

    <!-- header部分-->
    <th:block th:include="/include/header::header"/>

    <!--    主体部分-->
    <main>
        <!--        <div class="contain-wrapper">-->
        <!--            banner部分-->
        <!--            <div class="mall-section banner">-->
        <!--                <div class="container mall-banner-size">-->
        <!--&lt;!&ndash;                    <a th:href="@{'/news/Super-black'}">&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="item"&ndash;&gt;-->
        <!--&lt;!&ndash;                             style="width: 100%;height: 880px;background: url(../static/pic/change/banner.png) no-repeat top center;"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;                    </a>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <div class="item"&ndash;&gt;-->
        <!--&lt;!&ndash;                         style="width: 100%;height: 880px;background: url(../static/pic/change/banner.png) no-repeat top center;"></div>&ndash;&gt;-->

        <!--                    <div class="mall-section-content">-->
        <!--                        <a class="mall-section-content-bg" href="javascript:"><img src="../static/pic/change/banner.png" alt=""></a>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--            </div>-->
        <div class="mall-section banner">
            <div class="container mall-banner-size">
                <div class="banner owl-carousel owl-theme" id="owl-demo" >


                    <div class="item" th:each="pic:${#strings.arraySplit(conMap.get('carousel.pic'),'@||$')}"
                         >
                        <div th:style="'width:100%;height: 400px;background: url('+${pic}+') no-repeat top center;'"></div>
                    </div>
<!--                    <div class="item"-->
<!--                         th:style="'width: 100%;height: 400px;background: url('+@{${#strings.arraySplit(conMap.get('carousel.pic'),'@||$')[1]}}+') no-repeat top center;'"></div>-->

                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#owl-demo").owlCarousel({
                    loop: true,
                    items: 1,
                    autoplay: true,
                    autoplayTimeout: 6000,
                    autoplayHoverPause: true,
                    autoplaySpeed: 2000,
                });
            });
        </script>

        <!--            副banner-->
        <div class="mall-section-second">
<!--            <div class="mall-section-second-pd">-->
                <div class="container">
                    <div class="mall-section-second-content">
                        <div class="mall-section-second-content-body">
                            <div class="d-grid">
                                <div class="mall-section-second-content-body-left">
                                    <img th:src="@{${#strings.arraySplit(conMap.get('advertise.pic'),'@||$')[0]}}" alt="" sizes="605px">

                                </div>
                                <div class="mall-section-second-content-body-right">
                                    <img th:src="@{${#strings.arraySplit(conMap.get('advertise.pic'),'@||$')[1]}}" alt="" sizes="605px">
<!--                                    <img th:src="@{${#arrays.toStringArray(conMap.get('advertise.pic'))[0]}}" alt="" sizes="605px">-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
<!--            </div>-->
        </div>
        <!--            products部分-->
        <div class="mall-section-products">
            <div class="mall-section-products-content">
                <div class="container">
                    <div class="mall-section-products-content-wrapper">
                        <div class="mall-section-products-head">
                            <div class="mall-section-head-title" th:text="#{co_feature_products}">
                                Featured products
                            </div>
                        </div>
                        <div class="mall-section-products-body">

                            <!--                            <td>${productList}</td>-->
                            <div class="owl-carousel owl-theme" id="owl-carousel">
                                <div th:each="product : ${productList}">
                                    <a style="margin-left: 30px;text-decoration: none;color: black"
                                       th:href="@{'/product?id='+ ${product.id}}">
                                        <img width="196" th:src="@{${product.pic[0]}}">
                                        <h5 th:text="${product.categoryName}"></h5>
                                        <p th:text="${product.name}"></p>
                                    </a>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    $("#owl-carousel").owlCarousel({
                                        loop: true,
                                        margin: 20
                                    });
                                });
                            </script>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!--                  </div>-->


    </main>

<footer>
    <th:block th:include="/include/footer::footer"/></footer>


    <div class="mobileLayBar d-lg-none">
        <div class="mobileLayBar-lg-none  visible-sm visible-md visible-xs">
            <div class="mobile-section-show-bar">
                <!--                <div class="container">-->
                <div class="mobile-section-wrapper">
                    <div class="mobile-bar-content mobile-bar">
                        <a href="javascript:" class="btn">
                            <span class="svg-element-ui">
                              <svg width="22" height="18" viewBox="0 0 22 18" fill="none"
                                   xmlns="http://www.w3.org/2000/svg">
                                  <path d="M21.0652 2.00879H0.61236C0.244944 2.00879 0 1.90353 0 1.74563V0.271947C0 0.114052 0.244944 0.00878906 0.61236 0.00878906H21.1876C21.5551 0.00878906 21.8 0.114052 21.8 0.271947V1.74563C21.6775 1.90353 21.4326 2.00879 21.0652 2.00879Z"
                                        fill="#ff9923"> </path>
                                  <path d="M21.0652 9.00879H0.61236C0.244944 9.00879 0 8.90353 0 8.74563V7.27195C0 7.11405 0.244944 7.00879 0.61236 7.00879H21.1876C21.5551 7.00879 21.8 7.11405 21.8 7.27195V8.74563C21.6775 8.85089 21.4326 9.00879 21.0652 9.00879Z"
                                        fill="#ff9923"></path>
                                  <path d="M21.0652 16.0088H0.61236C0.244944 16.0088 0 15.9035 0 15.7456V14.2719C0 14.1141 0.244944 14.0088 0.61236 14.0088H21.1876C21.5551 14.0088 21.8 14.1141 21.8 14.2719V15.7456C21.6775 15.9035 21.4326 16.0088 21.0652 16.0088Z"
                                        fill="#ff9923"></path>
                              </svg>
                            </span>
                        </a>
                    </div>
                    <div class="mobile-bar-home mobile-bar">
                        <a href="javascript:" class="btn">
                            <span class="svg-element-ui">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                   <path d="M20 10.4912V22.4912H4V10.4912" stroke="#ff9923" stroke-width="2"
                                         stroke-miterlimit="10"></path>
                                    <path d="M23 12.4912L12 3.49121L1 12.4912" stroke="#ff9923" stroke-width="2"
                                          stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="mobile-bar-my-account mobile-bar">
                        <a href="javascript:" class="btn">
                            <span class="svg-element-ui">
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                   <path d="M9.50002 10.2771C12.0618 10.2771 14.1386 8.20038 14.1386 5.63857C14.1386 3.07676 12.0618 1 9.50002 1C6.93821 1 4.86145 3.07676 4.86145 5.63857C4.86145 8.20038 6.93821 10.2771 9.50002 10.2771Z"
                                         stroke="#ff9923" stroke-width="1.91" stroke-miterlimit="10"></path>
                                   <path d="M1 18.7771L1.29952 17.1176C1.65336 15.201 2.6674 13.469 4.16549 12.2223C5.66357 10.9756 7.55104 10.2931 9.5 10.2933V10.2933C11.4513 10.2938 13.3406 10.9786 14.839 12.2285C16.3374 13.4784 17.35 15.2143 17.7005 17.1338L18 18.7933"
                                         stroke="#ff9923" stroke-width="1.91" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="mobile-bar-fav mobile-bar">
                        <a href="javascript:" class="btn">
                            <span class="svg-element-ui">
                                <svg width="24" height="21" viewBox="0 0 24 21" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                   <path d="M3.40997 11L3.07997 10.67C2.57635 10.1683 2.17647 9.57241 1.90316 8.91622C1.62985 8.26003 1.48846 7.55643 1.48707 6.8456C1.48426 5.41001 2.05185 4.0321 3.06497 3.01499C4.0781 1.99789 5.45378 1.4249 6.88937 1.42209C8.32496 1.41928 9.70287 1.98686 10.72 2.99999L12 4.29999L13.28 2.99999C13.7769 2.48058 14.3726 2.06562 15.0321 1.77946C15.6915 1.49329 16.4015 1.34168 17.1203 1.33351C17.8392 1.32534 18.5524 1.46078 19.2182 1.73188C19.884 2.00299 20.4889 2.4043 20.9976 2.91228C21.5062 3.42027 21.9083 4.0247 22.1803 4.69014C22.4523 5.35558 22.5887 6.06862 22.5814 6.78745C22.5742 7.50629 22.4235 8.21644 22.1382 8.87628C21.8529 9.53611 21.4387 10.1323 20.92 10.63L20.59 10.96L12 19.57L6.06997 13.64L3.40997 11Z"
                                         stroke="#ff9923" stroke-width="1.91" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                            <span class="number">
                                <span>0</span>
                            </span>
                        </a>
                    </div>
                    <div class="mobile-bar-cart mobile-bar relative">
                        <a href="javascript:" class="btn">
                            <span class="svg-element-ui">
                                 <img width="25" height="23" src="//cg-mall-hk.oss-cn-hongkong.aliyuncs.com/static/pic/cart.png" alt="">
                            </span>
                            <span class="number">
                                <span>0</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



</body>

</html>