<!DOCTYPE HTML>
<html th:lang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/include/header::head"/>
<body>
<div class="wrapper">

<!-- header部分-->
    <th:block th:include="/include/header::header"/>

    <!--    主体部分-->
    <main>
<!--            详情控件部分-->
            <div class="breadcrumb">
                <div class="container">
                    <ul class="breadcrumb-list">
                        <li><a href="/"><span th:text="#{co_home}">Home</span></a></li>
                        <li class="svg-element-product">
                            <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.1 4.05596L0 6.65996L0.7 7.28996L3.36 3.99996L0.7 0.709961L0 1.33996L2.1 4.05596Z" fill="#5B6C8F"></path>
                            </svg>
                        </li>
<!--                        <li><a href=""><span>All Collections</span></a></li>-->
<!--                        <li class="svg-element-product">-->
<!--                            <svg width="4" height="8" viewBox="0 0 4 8" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                <path d="M2.1 4.05596L0 6.65996L0.7 7.28996L3.36 3.99996L0.7 0.709961L0 1.33996L2.1 4.05596Z" fill="#5B6C8F"></path>-->
<!--                            </svg>-->
<!--                        </li>-->
                        <li><a href=""><span th:text="${rootCategory}"></span></a></li>

                    </ul>
                </div>
            </div>

<!--        主体部分-->
            <div class="products-all-contain">
            <div class="container">
                <div class="products-all-heading">
                    <div class="products-all-heading-title">
                        <h3 th:text="${rootCategory}">Products</h3>
<!--                        <span>(29)</span>-->
                    </div>
                </div>

                <div class="products-all-contain grid products-all-grid">
                    <div class="products-all-contain-sidebar">
                        <div class="products-all-contain-sidebar-wrapper">
                            <div class="products-all-contain-sidebar-wrapper-body">
                                <div class="products-all-contain-sidebar-wrapper-body-list">
<!--                                    <div class="products-all-contain-sidebar-wrapper-body-list-header">-->
<!--                                        <p>Type</p>-->
<!--                                    </div>-->

                                    <div class="products-all-contain-sidebar-wrapper-body-list-body">
                                        <ul class="products-all-contain-sidebar-wrapper-body-list-body-ul" >
                                            <li class="products-all-first-li on" th:each="type : ${productTypeList}">
                                                <a th:href="@{'/productlist?typeCode='+ ${type.id}}" class="products-all-first-li-a" th:text="${type.name}">
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="products-all-contain-sidebar-wrapper-body-list-body-img">
                                            <span>
<!--                                                <img src="../static/pic/change/side.png" alt="">-->
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="products-all-contain-main">
                        <div class="products-all-contain-main-wrapper">
                            <div class="products-all-contain-main-wrapper-template">
                                <div class="products-all-contain-main-wrapper-template-section">
<!--                                    <div class="products-all-contain-main-wrapper-template-section-head">-->
<!--                                        <div class="products-all-contain-main-wrapper-template-section-head-top-bar">-->
<!--                                            <div class="products-all-contain-main-wrapper-template-section-head-top-bar-flex">-->
<!--                                                <div class="products-all-top-bar-flex-left">-->
<!--                                                    <div class="products-all-top-bar-flex-left-view-mode">-->
<!--                                                        <ul>-->
<!--                                                            <li>-->
<!--                                                                <a href="">-->
<!--                                                                    <span class="svg-element-product">-->
<!--                                                                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                                            <path d="M0 1.5C0 0.671573 0.671573 0 1.5 0H13.5C14.3284 0 15 0.671573 15 1.5C15 2.32843 14.3284 3 13.5 3H1.5C0.671573 3 0 2.32843 0 1.5Z"></path>-->
<!--                                                                            <path d="M0 7.5C0 6.67157 0.671573 6 1.5 6H13.5C14.3284 6 15 6.67157 15 7.5C15 8.32843 14.3284 9 13.5 9H1.5C0.671573 9 0 8.32843 0 7.5Z"></path>-->
<!--                                                                            <path d="M0 13.5C0 12.6716 0.671573 12 1.5 12H13.5C14.3284 12 15 12.6716 15 13.5C15 14.3284 14.3284 15 13.5 15H1.5C0.671573 15 0 14.3284 0 13.5Z"></path>-->
<!--                                                                        </svg>-->
<!--                                                                    </span>-->
<!--                                                                </a>-->
<!--                                                            </li>-->

<!--                                                            <li>-->
<!--                                                                <a href="">-->
<!--                                                                    <span class="svg-element-product">-->
<!--                                                                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                                            <path d="M0 3C0 1.34315 1.34315 0 3 0C4.65685 0 6 1.34315 6 3C6 4.65685 4.65685 6 3 6C1.34315 6 0 4.65685 0 3Z"></path>-->
<!--                                                                            <path d="M9 3C9 1.34315 10.3431 0 12 0C13.6569 0 15 1.34315 15 3C15 4.65685 13.6569 6 12 6C10.3431 6 9 4.65685 9 3Z"></path>-->
<!--                                                                            <path d="M0 12C0 10.3431 1.34315 9 3 9C4.65685 9 6 10.3431 6 12C6 13.6569 4.65685 15 3 15C1.34315 15 0 13.6569 0 12Z"></path>-->
<!--                                                                            <path d="M9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12Z"></path>-->
<!--                                                                        </svg>-->
<!--                                                                    </span>-->
<!--                                                                </a>-->
<!--                                                            </li>-->

<!--                                                            <li>-->
<!--                                                                <a href="">-->
<!--                                                                    <span class="svg-element-product">-->
<!--                                                                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                                            <path d="M0 1.5C0 0.671573 0.671573 0 1.5 0C2.32843 0 3 0.671573 3 1.5C3 2.32843 2.32843 3 1.5 3C0.671573 3 0 2.32843 0 1.5Z"></path>-->
<!--                                                                            <path d="M6 1.5C6 0.671573 6.67157 0 7.5 0C8.32843 0 9 0.671573 9 1.5C9 2.32843 8.32843 3 7.5 3C6.67157 3 6 2.32843 6 1.5Z"></path>-->
<!--                                                                            <path d="M12 1.5C12 0.671573 12.6716 0 13.5 0C14.3284 0 15 0.671573 15 1.5C15 2.32843 14.3284 3 13.5 3C12.6716 3 12 2.32843 12 1.5Z"></path>-->
<!--                                                                            <path d="M0 7.5C0 6.67157 0.671573 6 1.5 6C2.32843 6 3 6.67157 3 7.5C3 8.32843 2.32843 9 1.5 9C0.671573 9 0 8.32843 0 7.5Z"></path>-->
<!--                                                                            <path d="M6 7.5C6 6.67157 6.67157 6 7.5 6C8.32843 6 9 6.67157 9 7.5C9 8.32843 8.32843 9 7.5 9C6.67157 9 6 8.32843 6 7.5Z"></path>-->
<!--                                                                            <path d="M12 7.5C12 6.67157 12.6716 6 13.5 6C14.3284 6 15 6.67157 15 7.5C15 8.32843 14.3284 9 13.5 9C12.6716 9 12 8.32843 12 7.5Z"></path>-->
<!--                                                                            <path d="M0 13.5C0 12.6716 0.671573 12 1.5 12C2.32843 12 3 12.6716 3 13.5C3 14.3284 2.32843 15 1.5 15C0.671573 15 0 14.3284 0 13.5Z"></path>-->
<!--                                                                            <path d="M6 13.5C6 12.6716 6.67157 12 7.5 12C8.32843 12 9 12.6716 9 13.5C9 14.3284 8.32843 15 7.5 15C6.67157 15 6 14.3284 6 13.5Z"></path>-->
<!--                                                                            <path d="M12 13.5C12 12.6716 12.6716 12 13.5 12C14.3284 12 15 12.6716 15 13.5C15 14.3284 14.3284 15 13.5 15C12.6716 15 12 14.3284 12 13.5Z"></path>-->
<!--                                                                        </svg>-->
<!--                                                                    </span>-->
<!--                                                                </a>-->
<!--                                                            </li>-->
<!--                                                        </ul>-->
<!--                                                    </div>-->
<!--                                                </div>-->

<!--                                                <div class="products-all-top-bar-flex-center">-->
<!--                                                    <div class="d-md-inline-flex"></div>-->
<!--                                                    <div class="products-all-top-bar-flex-center-item">-->
<!--                                                        <a href="">-->
<!--                                                            <span class="d-none d-md-flex">-->
<!--&lt;!&ndash;                                                                <span th:text="#{co_sort_by}">Sort by</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                <span class="two" th:text="#{co_alphabetically}">Alphabetically, A-Z</span>&ndash;&gt;-->
<!--                                                                <span class="svg-element-ui svg-element-products-all">-->
<!--                                                                    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.01529 2.98179L1.35057 0.317078L0 1.66765L4.01529 5.68294L8.03057 1.66765L6.68 0.317078L4.01529 2.98179Z" fill="#5B6C8F"></path>-->
<!--                                                                    </svg>-->
<!--                                                                </span>-->
<!--                                                            </span>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
<!--                                                </div>-->

<!--                                                <div class="products-all-top-bar-flex-right">-->
<!--                                                    <div class="products-all-top-bar-flex-right-item">-->
<!--                                                        <a href="" class="products-all-top-bar-flex-right-item-a">-->
<!--                                                            <span>Show</span>-->
<!--                                                            <span class="number-12">12</span>-->
<!--                                                            <span class="svg-element-ui">-->
<!--                                                                <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg" >-->
<!--                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.01529 2.98179L1.35057 0.317078L0 1.66765L4.01529 5.68294L8.03057 1.66765L6.68 0.317078L4.01529 2.98179Z" fill="#5B6C8F"></path>-->
<!--                                                                </svg>-->
<!--                                                            </span>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->

                                    <div class="products-all-contain-main-wrapper-template-section-body">
                                        <div class="col-main">
                                            <div class="row" >
                                                <div class="products-all-body-section col-lg-3 col-lg-4 col-lg-6" th:each="product : ${productList}">
                                                    <div class="products-all-body-section-item" >
                                                        <div class="products-all-body-section-item-wrapper">
                                                            <div class="products-all-body-section-item-wrapper-head">
                                                                <div class="products-all-body-section-item-wrapper-head-img">
                                                                    <a th:href="@{'/product?id='+ ${product.id}}">
                                                                        <img th:src="@{${product.pic[0]}}" alt="" width="150" height="150"></a>
                                                                    <div class="cart-button" >
                                                                        <div class="btn-quick-view">
                                                                        <span class="svg-element-ui">
                                                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M5.33167 9.78833C7.79302 9.78833 9.78833 7.79302 9.78833 5.33167C9.78833 2.87032 7.79302 0.875 5.33167 0.875C2.87032 0.875 0.875 2.87032 0.875 5.33167C0.875 7.79302 2.87032 9.78833 5.33167 9.78833Z" stroke="#103178" stroke-width="1.5" stroke-miterlimit="10"></path>
                                                                                <path d="M13.125 13.1254L8.39417 8.39453" stroke="#103178" stroke-width="1.5" stroke-miterlimit="10"></path>
                                                                            </svg>
                                                                        </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="products-all-body-section-item-wrapper-body">

<!--                                                                <a th:href="@{'/product?id='+ ${product.id}}"></a>-->
                                                                <div class="products-all-body-section-item-wrapper-body-row">

                                                                    <p class="products-all-row-name">
                                                                        <a th:href="@{'/product?id='+ ${product.id}}" th:text="${product.name}"></a>
                                                                    </p>
                                                                    <p class="products-all-row-price">
                                                                        <span class="price-sale" th:text="'$'+${product.price}"></span>
                                                                        <del class="money" th:text="'$'+${product.originalPrice}">$25.00</del>
                                                                    </p>
                                                                    <div class="products-all-row-description" th:utext="${product.description}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="products-all-body-section-item-wrapper-footer">
                                                                <div class="products-all-body-section-item-wrapper-footer-item">
                                                                    <form action="" class="products-all-body-footer-item-form">
                                                                        <button class="btn-products-all btn-1 butt" th:onclick="|addCart(${product.id},1)|">
                                                                            <span class="cart-btn-label" th:text="#{co_add_to_cart}">Add to cart</span>
                                                                        </button>
                                                                    </form>
<!--                                                                    <div class="products-all-body-footer-item-icon">-->
<!--                                                                        <div class="love">-->
<!--                                                                            <a href="javascript:void(0);">-->
<!--                                                                                <span class="products-all-svg-element-ui">-->
<!--                                                                                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                                                        <path d="M1.81833 6.30071L1.63737 6.11976C1.36122 5.84469 1.14195 5.51791 0.992081 5.1581C0.842214 4.79828 0.764685 4.41247 0.763922 4.02269C0.762379 3.2355 1.07361 2.47993 1.62915 1.92222C2.18469 1.3645 2.93903 1.05031 3.72622 1.04876C4.51341 1.04722 5.26897 1.35845 5.82669 1.91399L6.52857 2.62683L7.23044 1.91399C7.50296 1.62917 7.82959 1.40164 8.1912 1.24472C8.55281 1.08781 8.94211 1.00467 9.33627 1.00019C9.73043 0.995712 10.1215 1.06998 10.4866 1.21864C10.8517 1.36729 11.1834 1.58735 11.4623 1.8659C11.7412 2.14445 11.9617 2.47588 12.1109 2.84077C12.26 3.20565 12.3348 3.59664 12.3308 3.99081C12.3268 4.38497 12.2442 4.77438 12.0878 5.13619C11.9313 5.49801 11.7042 5.82494 11.4198 6.09783L11.2388 6.27878L6.52857 11L3.27691 7.74833L1.81833 6.30071Z" stroke="#103178" stroke-width="1.5" stroke-miterlimit="10"></path>-->
<!--                                                                                    </svg>-->
<!--                                                                                </span>-->
<!--                                                                            </a>-->
<!--                                                                        </div>-->
<!--                                                                        <div class="date">-->
<!--                                                                            <a href="javascript:void(0);">-->
<!--                                                                                <span class="products-all-svg-element-ui">-->
<!--                                                                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                                                        <path d="M2 10H0V13H2V10Z" fill="#103178"></path>-->
<!--                                                                                        <path d="M12 0H10V13H12V0Z" fill="#103178"></path>-->
<!--                                                                                        <path d="M7 4H5V13H7V4Z" fill="#103178"></path>-->
<!--                                                                                    </svg>-->
<!--                                                                                </span>-->
<!--                                                                            </a>-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            
<!--                                            <div>-->
<!--                                                <div class="product-all-page-holder">-->
<!--                                                    <ul class="product-all-page-holder-ul">-->
<!--                                                        <li class="active">-->
<!--                                                            <a href="javascript:;">1</a>-->
<!--                                                        </li>-->
<!--                                                        <li>-->
<!--                                                            <a href="javascript:;">2</a>-->
<!--                                                        </li>-->
<!--                                                        <li>-->
<!--                                                            <a href="javascript:;">3</a>-->
<!--                                                        </li>-->
<!--                                                        <li>-->
<!--                                                            <a href="javascript:;" class="next">-->
<!--                                                                <span class="svg-element-ui">-->
<!--                                                                    <svg t="1628748494166" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12282" width="250" height="250"><path d="M741.504 512L402.752 173.248l90.496-90.496L922.496 512l-429.248 429.248-90.496-90.496L741.504 512z m-320 0L82.752 173.248l90.496-90.496L602.496 512l-429.248 429.248-90.496-90.496L421.504 512z" p-id="12283" fill="#103178"></path></svg>-->
<!--                                                                </span>-->
<!--                                                            </a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



        </div>


                <!--            产品展示部分-->
<!--                <div class="mall-section-products product-html">-->
<!--                    <div class="mall-section-products-content">-->
<!--                        <div class="container">-->
<!--                            <div class="mall-section-products-content-wrapper">-->
<!--                                <div class="mall-section-products-head">-->
<!--                                    <div class="mall-section-head-title" th:text="#{co_recommend}">-->
<!--                                        Customers also bought-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="mall-section-products-body">-->
<!--                                    &lt;!&ndash;                              <div class="row">&ndash;&gt;-->
<!--                                    <ul class="product-section">-->
<!--                                        <li class="product-section-item bg-white col-lg-5th col-m-4 col-m-6">-->
<!--                                            <div class="product-section-item-wrapper">-->
<!--                                                <div class="product-wrapper-header">-->
<!--                                                    <img width="196" height="196" src="../static/pic/change/product.png" alt="">-->
<!--                                                    <div class="sale">-->
<!--                                                        <span class="label_ui-sale">sale</span>-->
<!--                                                    </div>-->
<!--                                                    <div class="product-icon" >-->
<!--                                                      <span class="product-icon-button">-->
<!--                                                        <a href="">-->
<!--                                                            <img width="20" height="20" src="../static/pic/fav-l.png" alt="">-->
<!--                                                        </a>-->
<!--                                                      </span>-->

<!--                                                        <span class="product-icon-button">-->
<!--                                                        <a href="">-->
<!--                                                            <img width="20" height="20" src="../static/pic/data-l.png" alt="">-->
<!--                                                        </a>-->
<!--                                                      </span>-->

<!--                                                        <span class="product-icon-button">-->
<!--                                                       <a href="">-->
<!--                                                           <img width="20" height="20" src="../static/pic/seach.png" alt="">-->
<!--                                                       </a>-->
<!--                                                     </span>-->

<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="product-wrapper-item-info">-->
<!--                                                    <div class="product-item-info-body">-->
<!--                                                        <div class="product-item-name">-->
<!--                                                            <a href="">3-layer mask with an elastic band (1 piece)</a>-->
<!--                                                        </div>-->
<!--                                                        <div class="product-price">-->
<!--                                                            <span class="price-sale">$119.00</span>-->
<!--                                                            <del class="price-compare">$129.00</del>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->

<!--                                        <li class="product-section-item bg-white col-lg-5th col-m-4 col-m-6">-->
<!--                                            <div class="product-section-item-wrapper">-->
<!--                                                <div class="product-wrapper-header">-->
<!--                                                    <img width="196" height="196" src="../static/pic/change/product.png" alt="">-->
<!--                                                    <div class="sale">-->
<!--                                                        <span class="label_ui-sale">sale</span>-->
<!--                                                    </div>-->
<!--                                                    <div class="product-icon" >-->
<!--                                                      <span class="product-icon-button">-->
<!--                                                        <a href="">-->
<!--                                                            <img width="20" height="20" src="../static/pic/fav-l.png" alt="">-->
<!--                                                        </a>-->
<!--                                                      </span>-->

<!--                                                        <span class="product-icon-button">-->
<!--                                                        <a href="">-->
<!--                                                            <img width="20" height="20" src="../static/pic/data-l.png" alt="">-->
<!--                                                        </a>-->
<!--                                                      </span>-->

<!--                                                        <span class="product-icon-button">-->
<!--                                                       <a href="">-->
<!--                                                           <img width="20" height="20" src="../static/pic/seach.png" alt="">-->
<!--                                                       </a>-->
<!--                                                     </span>-->

<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="product-wrapper-item-info">-->
<!--                                                    <div class="product-item-info-body">-->
<!--                                                        <div class="product-item-name">-->
<!--                                                            <a href="">3-layer mask with an elastic band (1 piece)</a>-->
<!--                                                        </div>-->
<!--                                                        <div class="product-price">-->
<!--                                                            <span class="price-sale">$119.00</span>-->
<!--                                                            <del class="price-compare">$129.00</del>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->

<!--                                        <li class="product-section-item bg-white col-lg-5th col-m-4 col-m-6">-->
<!--                                            <div class="product-section-item-wrapper">-->
<!--                                                <div class="product-wrapper-header">-->
<!--                                                    <img width="196" height="196" src="../static/pic/change/product.png" alt="">-->
<!--                                                    <div class="sale">-->
<!--                                                        <span class="label_ui-sale">sale</span>-->
<!--                                                    </div>-->
<!--                                                    <div class="product-icon" >-->
<!--                                                      <span class="product-icon-button">-->
<!--                                                        <a href="">-->
<!--                                                            <img width="20" height="20" src="../static/pic/fav-l.png" alt="">-->
<!--                                                        </a>-->
<!--                                                      </span>-->

<!--                                                        <span class="product-icon-button">-->
<!--                                                        <a href="">-->
<!--                                                            <img width="20" height="20" src="../static/pic/data-l.png" alt="">-->
<!--                                                        </a>-->
<!--                                                      </span>-->

<!--                                                        <span class="product-icon-button">-->
<!--                                                       <a href="">-->
<!--                                                           <img width="20" height="20" src="../static/pic/seach.png" alt="">-->
<!--                                                       </a>-->
<!--                                                     </span>-->

<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="product-wrapper-item-info">-->
<!--                                                    <div class="product-item-info-body">-->
<!--                                                        <div class="product-item-name">-->
<!--                                                            <a href="">3-layer mask with an elastic band (1 piece)</a>-->
<!--                                                        </div>-->
<!--                                                        <div class="product-price">-->
<!--                                                            <span class="price-sale">$119.00</span>-->
<!--                                                            <del class="price-compare">$129.00</del>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->

<!--                                        <li class="product-section-item bg-white col-lg-5th col-m-4 col-m-6">-->
<!--                                            <div class="product-section-item-wrapper">-->
<!--                                                <div class="product-wrapper-header">-->
<!--                                                    <img width="196" height="196" src="../static/pic/change/product.png" alt="">-->
<!--                                                    <div class="sale">-->
<!--                                                        <span class="label_ui-sale">sale</span>-->
<!--                                                    </div>-->
<!--                                                    <div class="product-icon" >-->
<!--                                                      <span class="product-icon-button">-->
<!--                                                        <a href="">-->
<!--                                                            <img width="20" height="20" src="../static/pic/fav-l.png" alt="">-->
<!--                                                        </a>-->
<!--                                                      </span>-->

<!--                                                        <span class="product-icon-button">-->
<!--                                                        <a href="">-->
<!--                                                            <img width="20" height="20" src="../static/pic/data-l.png" alt="">-->
<!--                                                        </a>-->
<!--                                                      </span>-->

<!--                                                        <span class="product-icon-button">-->
<!--                                                       <a href="">-->
<!--                                                           <img width="20" height="20" src="../static/pic/seach.png" alt="">-->
<!--                                                       </a>-->
<!--                                                     </span>-->

<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="product-wrapper-item-info">-->
<!--                                                    <div class="product-item-info-body">-->
<!--                                                        <div class="product-item-name">-->
<!--                                                            <a href="">3-layer mask with an elastic band (1 piece)</a>-->
<!--                                                        </div>-->
<!--                                                        <div class="product-price">-->
<!--                                                            <span class="price-sale">$119.00</span>-->
<!--                                                            <del class="price-compare">$129.00</del>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->

<!--                                        <li class="product-section-item bg-white col-lg-5th col-m-4 col-m-6">-->
<!--                                            <div class="product-section-item-wrapper">-->
<!--                                                <div class="product-wrapper-header">-->
<!--                                                    <img width="196" height="196" src="../static/pic/change/product.png" alt="">-->
<!--                                                    <div class="sale">-->
<!--                                                        <span class="label_ui-sale">sale</span>-->
<!--                                                    </div>-->
<!--                                                    <div class="product-icon" >-->
<!--                                                      <span class="product-icon-button">-->
<!--                                                        <a href="">-->
<!--                                                            <img width="20" height="20" src="../static/pic/fav-l.png" alt="">-->
<!--                                                        </a>-->
<!--                                                      </span>-->

<!--                                                        <span class="product-icon-button">-->
<!--                                                        <a href="">-->
<!--                                                            <img width="20" height="20" src="../static/pic/data-l.png" alt="">-->
<!--                                                        </a>-->
<!--                                                      </span>-->

<!--                                                        <span class="product-icon-button">-->
<!--                                                       <a href="">-->
<!--                                                           <img width="20" height="20" src="../static/pic/seach.png" alt="">-->
<!--                                                       </a>-->
<!--                                                     </span>-->

<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="product-wrapper-item-info">-->
<!--                                                    <div class="product-item-info-body">-->
<!--                                                        <div class="product-item-name">-->
<!--                                                            <a href="">3-layer mask with an elastic band (1 piece)</a>-->
<!--                                                        </div>-->
<!--                                                        <div class="product-price">-->
<!--                                                            <span class="price-sale">$119.00</span>-->
<!--                                                            <del class="price-compare">$129.00</del>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->


<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
            </div>
    </main>


    <footer><th:block th:include="/include/footer::footer"/></footer>

    <div class="mobileLayBar d-lg-none" >
        <div class="mobileLayBar-lg-none  visible-sm visible-md visible-xs">
            <div class="mobile-section-show-bar">
<!--                <div class="container">-->
                    <div class="mobile-section-wrapper">
                        <div class="mobile-bar-content mobile-bar">
                            <a href="" class="btn">
                            <span class="svg-element-ui">
                              <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M21.0652 2.00879H0.61236C0.244944 2.00879 0 1.90353 0 1.74563V0.271947C0 0.114052 0.244944 0.00878906 0.61236 0.00878906H21.1876C21.5551 0.00878906 21.8 0.114052 21.8 0.271947V1.74563C21.6775 1.90353 21.4326 2.00879 21.0652 2.00879Z" fill="#ff9923"> </path>
                                  <path d="M21.0652 9.00879H0.61236C0.244944 9.00879 0 8.90353 0 8.74563V7.27195C0 7.11405 0.244944 7.00879 0.61236 7.00879H21.1876C21.5551 7.00879 21.8 7.11405 21.8 7.27195V8.74563C21.6775 8.85089 21.4326 9.00879 21.0652 9.00879Z" fill="#ff9923"></path>
                                  <path d="M21.0652 16.0088H0.61236C0.244944 16.0088 0 15.9035 0 15.7456V14.2719C0 14.1141 0.244944 14.0088 0.61236 14.0088H21.1876C21.5551 14.0088 21.8 14.1141 21.8 14.2719V15.7456C21.6775 15.9035 21.4326 16.0088 21.0652 16.0088Z" fill="#ff9923"></path>
                              </svg>
                            </span>
                            </a>
                        </div>
                        <div class="mobile-bar-home mobile-bar">
                            <a   href="" class="btn">
                            <span class="svg-element-ui">
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <path d="M20 10.4912V22.4912H4V10.4912" stroke="#ff9923" stroke-width="2" stroke-miterlimit="10"></path>
                                    <path d="M23 12.4912L12 3.49121L1 12.4912" stroke="#ff9923" stroke-width="2" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                            </a>
                        </div>
                        <div class="mobile-bar-my-account mobile-bar">
                            <a   href="" class="btn">
                            <span class="svg-element-ui">
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <path d="M9.50002 10.2771C12.0618 10.2771 14.1386 8.20038 14.1386 5.63857C14.1386 3.07676 12.0618 1 9.50002 1C6.93821 1 4.86145 3.07676 4.86145 5.63857C4.86145 8.20038 6.93821 10.2771 9.50002 10.2771Z" stroke="#ff9923" stroke-width="1.91" stroke-miterlimit="10"></path>
                                   <path d="M1 18.7771L1.29952 17.1176C1.65336 15.201 2.6674 13.469 4.16549 12.2223C5.66357 10.9756 7.55104 10.2931 9.5 10.2933V10.2933C11.4513 10.2938 13.3406 10.9786 14.839 12.2285C16.3374 13.4784 17.35 15.2143 17.7005 17.1338L18 18.7933" stroke="#ff9923" stroke-width="1.91" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                            </a>
                        </div>
                        <div class="mobile-bar-fav mobile-bar">
                            <a   href="" class="btn">
                            <span class="svg-element-ui">
                                <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <path d="M3.40997 11L3.07997 10.67C2.57635 10.1683 2.17647 9.57241 1.90316 8.91622C1.62985 8.26003 1.48846 7.55643 1.48707 6.8456C1.48426 5.41001 2.05185 4.0321 3.06497 3.01499C4.0781 1.99789 5.45378 1.4249 6.88937 1.42209C8.32496 1.41928 9.70287 1.98686 10.72 2.99999L12 4.29999L13.28 2.99999C13.7769 2.48058 14.3726 2.06562 15.0321 1.77946C15.6915 1.49329 16.4015 1.34168 17.1203 1.33351C17.8392 1.32534 18.5524 1.46078 19.2182 1.73188C19.884 2.00299 20.4889 2.4043 20.9976 2.91228C21.5062 3.42027 21.9083 4.0247 22.1803 4.69014C22.4523 5.35558 22.5887 6.06862 22.5814 6.78745C22.5742 7.50629 22.4235 8.21644 22.1382 8.87628C21.8529 9.53611 21.4387 10.1323 20.92 10.63L20.59 10.96L12 19.57L6.06997 13.64L3.40997 11Z" stroke="#ff9923" stroke-width="1.91" stroke-miterlimit="10"></path>
                                </svg>
                            </span>
                              <span class="number">
                                <span>0</span>
                            </span>
                            </a>
                        </div>
                        <div class="mobile-bar-cart mobile-bar relative">
                            <a   href="" class="btn">
                            <span class="svg-element-ui">
                                 <img width="25" height="23" src="//cg-mall-hk.oss-cn-hongkong.aliyuncs.com/static/pic/cart.png" alt="">
                            </span>
                             <span class="number">
                                <span>0</span>
                            </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>