<!DOCTYPE HTML>
<html th:lang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <title>CSUN Mall</title>
    <link rel="shortcut icon" href="img/foodie.ico"/>

    <link href="../static/css/app.css" rel="stylesheet" type="text/css" />



</head>
<body>
    <div class="shopping-cart">
        <div class="dialog"></div>

        <div class="shopping-cart-wrapper">
            <a href="" class="shopping-cart-close">
                <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.3805 16.895L2.9182 2.43267C2.6584 2.17286 2.55963 1.92523 2.67128 1.81358L3.71333 0.77153C3.82498 0.659881 4.07262 0.758651 4.33242 1.01845L18.8813 15.5674C19.1411 15.8272 19.2399 16.0748 19.1283 16.1865L18.0862 17.2285C17.9252 17.2163 17.6403 17.1548 17.3805 16.895Z" fill="#103178"></path>
                    <path d="M4.41928 16.895L18.8816 2.43267C19.1414 2.17286 19.2402 1.92523 19.1285 1.81358L18.0865 0.77153C17.9748 0.659881 17.7272 0.758651 17.4674 1.01845L2.91847 15.5674C2.65866 15.8272 2.55989 16.0748 2.67154 16.1865L3.7136 17.2285C3.87463 17.2163 4.15948 17.1548 4.41928 16.895Z" fill="#103178"></path>

                </svg>
            </a>

            <form action="" class="form-cart">
                <div class="shopping-cart-head">
                    <h3>
                        <a href="">Shopping cart
                        <span class="number">(1)</span>
                        </a>
                    </h3>
                </div>
                <div class="shopping-cart-body">

                    <div class="shopping-cart-body-inner">
                        <div class="shopping-cart-body-inner-item">
                            <div class="row">
                                <div class="shopping-cart-col-3">
                                    <div class="img-style">
                                        <a href="">
                                            <img sizes="80px" src="../static/pic/change/product.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopping-cart-col-9">

                                        <div class="shopping-cart-product-info">
                                            <h6>
                                                <a href="">
                                                    <span class="shopping-cart-title">3-layer mask with an elastic band (1 piece)-</span>
                                                    <span class="shopping-cart-text">Dark/Large</span>
                                                </a>
                                            </h6>

                                            <div class="shopping-cart-price-info">
                                                <div class="shopping-cart-price">
                                                    <span class="price">$119.00</span>
                                                    <del class="money">$129.00</del>
                                                </div>

                                                <div class="shopping-cart-qty">
                                                    <span>
                                                        <span class="number-1">1</span>X
                                                        <span class="number-2">item</span>
                                                    </span>
                                                    <a href="">Remove</a>
                                                </div>
                                            </div>
                                        </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="shopping-cart-body-inner">
                        <div class="shopping-cart-body-inner-item">
                            <div class="row">
                                <div class="shopping-cart-col-3">
                                    <div class="img-style">
                                        <a href="">
                                            <img sizes="80px" src="../static/pic/change/product.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopping-cart-col-9">

                                    <div class="shopping-cart-product-info">
                                        <h6>
                                            <a href="">
                                                <span class="shopping-cart-title">3-layer mask with an elastic band (1 piece)-</span>
                                                <span class="shopping-cart-text">Dark/Large</span>
                                            </a>
                                        </h6>

                                        <div class="shopping-cart-price-info">
                                            <div class="shopping-cart-price">
                                                <span class="price">$119.00</span>
                                                <del class="money">$129.00</del>
                                            </div>

                                            <div class="shopping-cart-qty">
                                                    <span>
                                                        <span class="number-1">1</span>X
                                                        <span class="number-2">item</span>
                                                    </span>
                                                <a href="">Remove</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="shopping-cart-body-inner">
                        <div class="shopping-cart-body-inner-item">
                            <div class="row">
                                <div class="shopping-cart-col-3">
                                    <div class="img-style">
                                        <a href="">
                                            <img sizes="80px" src="../static/pic/change/product.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopping-cart-col-9">

                                    <div class="shopping-cart-product-info">
                                        <h6>
                                            <a href="">
                                                <span class="shopping-cart-title">3-layer mask with an elastic band (1 piece)-</span>
                                                <span class="shopping-cart-text">Dark/Large</span>
                                            </a>
                                        </h6>

                                        <div class="shopping-cart-price-info">
                                            <div class="shopping-cart-price">
                                                <span class="price">$119.00</span>
                                                <del class="money">$129.00</del>
                                            </div>

                                            <div class="shopping-cart-qty">
                                                    <span>
                                                        <span class="number-1">1</span>X
                                                        <span class="number-2">item</span>
                                                    </span>
                                                <a href="">Remove</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="shopping-cart-body-inner">
                        <div class="shopping-cart-body-inner-item">
                            <div class="row">
                                <div class="shopping-cart-col-3">
                                    <div class="img-style">
                                        <a href="">
                                            <img sizes="80px" src="../static/pic/change/product.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopping-cart-col-9">

                                    <div class="shopping-cart-product-info">
                                        <h6>
                                            <a href="">
                                                <span class="shopping-cart-title">3-layer mask with an elastic band (1 piece)-</span>
                                                <span class="shopping-cart-text">Dark/Large</span>
                                            </a>
                                        </h6>

                                        <div class="shopping-cart-price-info">
                                            <div class="shopping-cart-price">
                                                <span class="price">$119.00</span>
                                                <del class="money">$129.00</del>
                                            </div>

                                            <div class="shopping-cart-qty">
                                                    <span>
                                                        <span class="number-1">1</span>X
                                                        <span class="number-2">item</span>
                                                    </span>
                                                <a href="">Remove</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="shopping-cart-footer">
                    <div class="shopping-cart-footer-text">
                        <div class="shopping-cart-footer-text-row">
                            <p>Total:
                            <span>$107.10</span>
                            </p>

                            <a href="" class="cart-clear-item">Remove all items</a>
                        </div>
                        <div class="shopping-cart-footer-text-row">
                            <button class="btn btn-1 btn-cart-footer" type="submit" name="checkout">
                                <span class="btn-label">Checkout</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>







</body>

</html>