<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csun.mall.mapper.MessageRecordMapper" >
  <resultMap id="BaseResultMap" type="com.csun.mall.domain.MessageRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="message_id" property="messageId" jdbcType="BIGINT"/>
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="reply_user_id" property="replyUserId" jdbcType="BIGINT" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="page" parameterType="java.lang.Long" resultType="com.csun.mall.pojo.dto.MessageRecoreDTO">
    select mr.id, mr.message_id as messageId, mr.reply_user_id as replyUserId,su.nick_name as replyUserName, mr.message,mr.type, mr.send_time as sendTime
    from message_record mr
           left join sys_user su on mr.reply_user_id = su.id
    where message_id = #{messageId}
    ORDER BY send_time desc
  </select>

  <select id="pageAll" resultType="com.csun.mall.pojo.dto.MessageRecoreDTO" >
    select mr.id, mr.message_id as messageId, mr.reply_user_id as replyUserId,su.nick_name as replyUserName, mr.message,mr.type, mr.send_time as sendTime
    from message m
        left join message_record mr on m.id=mr.message_id
           left join sys_user su on mr.reply_user_id = su.id
    <where>
        <if test="replyUserId != null">
          m.reply_user_id = #{replyUserId}
        </if>
        <if test="messageLike !=null">
          and mr.message like CONCAT('%',#{messageLike},'%')
        </if>
    </where>
    group by mr.message_id
    having mr.send_time = max(mr.send_time)
    ORDER BY send_time desc
  </select>
</mapper>